.movie-info__section {
    width: 100%;
    margin: 0 auto;
    color: #fff;
}

.movie-info__container {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.movie__card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    margin: 0 auto;
    padding: 1.25rem;
}

.poster {
    width: 15rem;
    border-radius: 0.625rem;
}

.movie__info {
    display: flex;
    flex-direction: column;
}

.movie__title {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.02rem;
}

.movies__genres {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 0.7rem;
}

.movie__rating {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 0.6rem;
}

.movie__trailer {
    margin-top: 0.7rem;
}

.movie__tagline {
    margin-top: 1.5rem;
    color: #b8b2b2;
    font-style: italic;
}

.overview__heading {
    margin-top: 0.6rem;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.02rem;
}

.movie__release {
    position: relative;
    padding-right: 1rem;
}

.movie__release::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 0.3125rem;
    height: 0.3125rem;
    border-radius: 50%;
    background: darkgray;
    transform: translateY(-50%);
}


.production__section {
    padding: 1rem;
    color: rgb(255 255 255 / 71%);
    background: rgb(111 146 204 / 38%);
}

.production__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem 3rem;
    width: fit-content;
}


@media (min-width: 35rem) {
    .poster {
        width: 18.75rem;
    }

    .movie__card,
    .production__info {
        width: 90%;
        margin: 0 auto;
    }
}


@media (min-width: 53.75rem) {
    .movie__card {
        flex-direction: row;
        width: 80%;
        padding: 1.5rem 0 3rem;
    }

    .poster {
        width: 21.375rem;
        height: 32.0625rem;
    }

    .movie__title {
        font-size: 3rem;
    }

    .movie__trailer {
        margin-top: 1.5rem;
    }

    .movie__tagline {
        margin-top: 3rem;
    }

    .overview__heading {
        margin-top: 2rem;
    }

    .production__section {
        display: flex;
        align-items: center;
        min-height: 4rem;
    }

    .production__info {
        display: flex;
        width: fit-content;
        gap: 3rem;
    }

    .movie__recommendation {
        width: fit-content;
        margin: 0 auto;
        padding-top: 2rem;
    }

    .movie__carousel {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}