.header {
    width: 100%;
}

.header__container {
    width: 100%;
    height: 3.5rem;
    background: rgb(0 0 0 / 0.61);
    color: white;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    margin-bottom: 0.3rem;
}

.header__search-bar {
    display: none;
}

.tmdb__logo-desk {
    display: none;
}

.desktop-nav {
    display: none;
}

.header__search-mobile {
    width: 100vw;
}

@media screen and (min-width: 64rem) {
    .mobile-nav {
        display: none;
    }

    .header__search-bar {
        display: block;
    }

    .tmdb__logo-mobile {
        display: none;
    }

    .header__container {
        margin: 0;
        padding: 0 3rem;


    }

    .desktop-nav {
        display: flex;
    }

    .tmdb__logo-desk {
        display: block;
    }
    .header__search-mobile {
        display: none;
    }

    .logo-menu__desctop-container {
        display: flex;
        gap: 5rem;
        align-items: center;
    }
}