
.sort-list__container, .extended-sort-list__container{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 1.2rem;
    height: fit-content;
    background-color: rgb(255 255 255 / 0.87);
    border-radius: 7px;
    margin-top: 4.7rem;
}
.sort-list__container {

}

.sort-list__heading {
    color: rgb(7 17 55 / 87%);
    font-weight: 700;
}

.sort-list {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    padding-left: 0.5rem;
}

.sort__item {
    border-bottom: rgb(184 178 178 / 0.42) 1px solid;
    color: #595555;
    cursor: pointer;
}

.selected-sort__item {
    color: #0a34b8;
    border-bottom: rgb(151 137 188) 1px solid;
    cursor: pointer;
}

button {
    cursor: pointer;
}

.clear-btn__list {
    color: rgb(51 26 138);
    font-weight: bold;
    display: flex;
    justify-content: end;
    width: 90%;
}

.extended-genres {
    margin-top: 1rem;
}